# This .gitignore file should be placed at the root of your Unity project directory
#
# Get latest from https://github.com/github/gitignore/blob/master/Unity.gitignore
#

/**/Model/*.names
/**/Model/*.pb
/**/Model/*.caffemodel
/**/Model/*.prototxt
/**/Model/*.prototxt.txt
/**/Model/*.cfg
/**/Model/*.weights
